<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <p v-if="nota === 'A'">PARABENS TIROU NOTA "A"</p>
      <p v-else-if="nota === 'B'">POXA TIROU NOTA "B"</p>

      <p v-else-if="nota === 'C'">Vixe TIROU NOTA "C"</p>
      <p v-else="mostrar">MELHOR NEM VER</p>

      <input v-model="nota" placeholder="nota" />
    </div>

    <script type="text/javascript">
      new Vue({
        el: "#app",
        data: {
          nota: "",
        },
      });
    </script>
  </body>
</html>
